<div>
  <app-explorepage
    explore="{{ exploreAll }}"
    (openProductPage)="routeToAllProducts()">
    <div>
      <h1 class="title">Online Shop</h1>
      <p class="exploreDesc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae
        aliquet nec ullamcorper sit amet risus nullam. Enim ut tellus elementum
        sagittis vitae et leo. Eget magna fermentum iaculis eu non. Phasellus
        vestibulum lorem sed risus ultricies tristique nulla aliquet.
      </p>
    </div>
  </app-explorepage>
</div>
